includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon

parameters:
    level: 8
    paths:
        - src
    ignoreErrors:
        # ignore "unused" closure parameters for capturing the output buffer
        -
            message: '#Anonymous function has an unused use \$.+#'
            path: src/Renderer/Phtml/PhtmlRendererBridge.php

    excludePaths:
        analyse:
            - src/Bridge/Latte/AmpClientLatte2Extension.php # "extension" for Latte v2
            - src/Bridge/Nette/Application/RenderQueuedPositionsOnPresenterShutdownHandler.php # using old Nette interfaces prefixed with `I` for back compatibility
