includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon

rules:
    - Symplify\PHPStanRules\Rules\NoArrayAccessOnObjectRule

services:
    - Symplify\PHPStanRules\Matcher\ArrayStringAndFnMatcher

parameters:
    level: 8
    paths:
        - src
    ignoreErrors:
        # ignore "unused" closure parameters for capturing the output buffer
        -
            message: '#Anonymous function has an unused use \$.+#'
            path: src/Renderer/Phtml/PhtmlRendererBridge.php
