extensions:
    amp_client: SixtyEightPublishers\AmpClient\Bridge\Nette\DI\AmpClientExtension
    amp_client.latte: SixtyEightPublishers\AmpClient\Bridge\Nette\DI\AmpClientLatteExtension

amp_client:
    url: https://www.example.com
    channel: test

amp_client.latte:
    rendering_mode: SixtyEightPublishers\AmpClient\Bridge\Latte\RenderingMode\DirectRenderingMode
