extensions:
    amp_client: SixtyEightPublishers\AmpClient\Bridge\Nette\DI\AmpClientExtension
    amp_client.latte: SixtyEightPublishers\AmpClient\Bridge\Nette\DI\AmpClientLatteExtension

amp_client:
    url: https://www.example.com
    channel: test

services:
    - SixtyEightPublishers\AmpClient\Tests\Bridge\Latte\Event\ConfigureClientEventHandlerFixture(null)
