{templateType SixtyEightPublishers\AmpClient\Renderer\Latte\Templates\ClientSideTemplate}

<div data-amp-banner="{$position->getCode()}"
     n:attr="array_merge($resourceAttributes, $elementAttributes)">
</div>
